<div class="jumbotron center"> 
<p>
<h1>Pinteresante</h1>
</p>
<p>
	<em>(¡es bueno!)</em>
</p>
<p>
<h2>Sign up or log in below</h2>
</p>
<p>
	<%= link_to "Log In", "#", class: "btn btn-default btn-lg" %>
	<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %> 
</p>
</div>