<div class="jumbotron center"> 
<p>
<h1>Pinteresante</h1>
</p>
<p>
un clon de pinterest
</p>
<p>
	<em>(en español)</em>
</p>
<p>
<h2>Iniciar sesión o registrarse</h2>
</p>
<p>
	<%= link_to "Iniciar sesión", "#", class: "btn btn-default btn-lg" %>
	<%= link_to "Registrarse", "#", class: "btn btn-primary btn-lg" %> 
</p>
</div>